*
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

body
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	font-family: "Calibri";
}

a
{
	text-decoration: none;
	font-weight: bold;
	font-size: 19px;
	color: #619ab2ff;
	padding-left: 5px;
}
.header 
{
	background-color: #F5F4F2;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-right: 90px;
	text-align: right;

}
nav 
{
	padding: 10px;
	padding-left: 10%;
}
p
{
	font-size: 25px;
}

.logo
{
	width: 15%;
}

.icon-phone
{
	vertical-align: middle;
	width: 25px;
	padding-bottom: 5px;
}

.banner
{
	
}

.construction-message
{
	padding-left: 20px;
}